.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    box-shadow: .5px .5px rgb(144, 144, 144);
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}